#startScreen .shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0048d8;
  z-index: 1; }

#startScreen .window {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background: transparent;
  z-index: 2; }
