<h1>Player</h1><form><div role="group" aria-label="Basic example" class="btn-group"><button (click)="toggleTraining()" class="btn btn-primary">{{ toggleLabel }}</button><button class="btn btn-primary disabled">Stop</button></div></form>