nav(class="navbar navbar-dark  bg-inverse")
  div(class="navbar-brand") Viktor, RUN!
  ul(class="nav navbar-nav")
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['PlayerPage']") Player
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['MapPage']") Map
    li(class="nav-item")
      a(class="nav-link", [routerLink]="['HistoryPage']") History
    li(class="nav-item")
      a(class="nav-link", "(click)"="reloadPage()") Reload page
    li(class="nav-item")
      a(class="nav-link", "(click)"="clearCache()") Clear cache

// Routed views go here.
router-outlet
