h1 Player
form
  div(class="btn-group" role="group" aria-label="Basic example")
    button(class="btn btn-primary" "(click)"="toggleTraining()") {{ toggleLabel }}
    button(class="btn btn-primary disabled") Stop
